/*-------Polices-------*/

@font-face {
    font-family: 'robotolight';
    src: url('../polices/Roboto-Light-webfont.eot');
    src: url('../polices/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../polices/Roboto-Light-webfont.woff2') format('woff2'),
         url('../polices/Roboto-Light-webfont.woff') format('woff'),
         url('../polices/Roboto-Light-webfont.ttf') format('truetype'),
         url('../polices/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../polices/Roboto-Regular-webfont.eot');
    src: url('../polices/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../polices/Roboto-Regular-webfont.woff2') format('woff2'),
         url('../polices/Roboto-Regular-webfont.woff') format('woff'),
         url('../polices/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../polices/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('../polices/Roboto-Bold-webfont.eot');
    src: url('../polices/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../polices/Roboto-Bold-webfont.woff2') format('woff2'),
         url('../polices/Roboto-Bold-webfont.woff') format('woff'),
         url('../polices/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../polices/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;

}

@font-face {
	font-family: 'Shrikhand-Regular';
	src: url('../polices/Shrikhand-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*-------Mixin-------*/

@mixin shadow {
    -webkit-box-shadow: 1px 10px 12px 4px rgba(190,190,190,0.55); 
box-shadow: 1px 10px 12px 4px rgba(190,190,190,0.55);
}

@mixin hover_shadow {
	-webkit-box-shadow: 1px 10px 12px 4px rgba(4,4,4,0.55); 
box-shadow: 1px 10px 12px 4px rgba(4,4,4,0.55);
}

/*-------Chartre graphique-------*/

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

/*-------Général-------*/

body
{
	font-family: 'robotolight';
	font-weight: normal;
	margin: auto !important;
	max-width: 1680px;
	box-sizing: border-box;
}

a
{
	color: black;
    text-decoration: none;
}

a:visited
{
	color: black;
}

h3
{
    font-family: 'robotolight';
    font-weight: normal;
}

/*-------Blocs Header-------*/

header
{
	max-width: 100%;
	text-align: center;
    position: relative;
}

#logo
{
	padding: 30px 0 20px 0;
	max-width: 50%;
}

.fa-arrow-left
{
    top: 50%;
    left: 10%;
    position: absolute;
}

/*-------Section "Global" & Généralités-------*/

.global
{
    max-width: 100%;
    /*text-align: center;*/
    background-color: #f1f1f1;
    padding-bottom: 40px;
    margin: auto;
}

.restaurant
{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/*------- Placement & Animation coeur-------*/

.icons_title
{
	display: flex;
	justify-content: space-around;
	max-width: 70%;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

.fa-heart
{
  padding-top: 35px;
}

.fa-heart:hover 
{
  animation: filledhearts 1s linear backwards;
}

@keyframes filledhearts {
  0% {
    font-weight: 900;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    transition-duration: 600ms;
    -webkit-transition-duration: 600ms;
    opacity: 0;
  }
  90% {
    font-weight: 900;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    transition-duration: 600ms;
    -webkit-transition-duration: 600ms;
    opacity: 1;
  }
  100% {
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    opacity: 0;
  }
  }

/*-------Section Carte des menus-------*/

.menu
{
    max-width: 100%;
    background-color: #f1f1f1;
    position: relative;
    z-index: 1;
    bottom: 60px;
    margin: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.menu_1
{
    display: flex;
    justify-content: center;
}

article 
{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

h1
{
    font-family: 'Shrikhand-Regular';
    margin-top: 25px;
}

hr
{
    width: 40px;
    border: 2px solid $tertiary-color;
    margin-top: -0.5em;
    color: $tertiary-color;
    background-color: $tertiary-color;
}

.plat
{
    border-radius: 15px;
    margin: 20px;
    width: 350px;
    height: 80px;
    display: flex;
    background-color: white;
    overflow: hidden;
    cursor: pointer;
    @include shadow;
}

h3
{
    font-family: 'robotolight';
    font-weight: normal;
}

h4
{
    margin-top: 10px;
}

p
{
    margin-bottom: 10px;
}

h4, p
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description
{
    flex-grow: 1;
    width: 200px;
    padding-left: 10px;
}

.prix
{
    font-weight: bold;
    width: 80px;
    padding-top: 30px;
    text-align: center;
}

/*-------Animation Apparition Menus-------*/

.entrees
{
    opacity: 0;
    animation: 3s forwards appear;
    animation-delay: 100ms;
}

.plats
{
    opacity: 0;
    animation: 3s forwards appear;
    animation-delay: 1s;
}

.desserts
{
    opacity: 0;
    animation: 3s forwards appear;
    animation-delay: 2s;
}

@keyframes appear
{
    from { opacity: 0; }
    to { opacity: 1; }
}

/*-------Animation Check-------*/

.hidden_check
{
    display: flex;
    width: 0;
    background-color: $tertiary-color;
    transition: all .5s ease-in-out;
    
.check1
{
    color: $tertiary-color;
    border-radius: 50px;
    background-color: white;
    border: 2px solid transparent;
    margin: auto;
    padding: 3px 4px;
    transition: all .5s ease-in-out;
    animation-direction: alternate-reverse;
    transform: rotate(360deg);
}
}

.plat:hover > .hidden_check
{
    width: 100px; 
}

.plat:hover .check1
{
        transform: rotate(0deg);
}

/*-------Bouton Commander-------*/

.bouton
{
   
	display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
}

button
{
    border: solid 1px transparent;
	border-radius: 30px;
	padding: 15px 40px;
    background: radial-gradient(ellipse farthest-corner at bottom right, $primary-color, $secondary-color);
	color: white;
	@include shadow;
	font-weight: bold;
    cursor: pointer;
}

button:hover
{
    opacity: 0.75;
    @include hover_shadow;
    transition-duration: 400ms;
}

/*-------Bloc Footer-------*/

footer
{
	background-color: #353535;
	color: white;
	padding: 20px 0 20px 20px;
}

footer a
{
	color: white;
}

.titre
{
	font-family: 'Shrikhand-Regular';
}

.fa-utensils
{
	padding-right: 20px;
}

.fa-hands-helping
{
	padding-right: 13px;
}