/*-------Polices-------*/

@font-face {
    font-family: 'robotolight';
    src: url('../polices/Roboto-Light-webfont.eot');
    src: url('../polices/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../polices/Roboto-Light-webfont.woff2') format('woff2'),
         url('../polices/Roboto-Light-webfont.woff') format('woff'),
         url('../polices/Roboto-Light-webfont.ttf') format('truetype'),
         url('../polices/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../polices/Roboto-Regular-webfont.eot');
    src: url('../polices/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../polices/Roboto-Regular-webfont.woff2') format('woff2'),
         url('../polices/Roboto-Regular-webfont.woff') format('woff'),
         url('../polices/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../polices/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('../polices/Roboto-Bold-webfont.eot');
    src: url('../polices/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../polices/Roboto-Bold-webfont.woff2') format('woff2'),
         url('../polices/Roboto-Bold-webfont.woff') format('woff'),
         url('../polices/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../polices/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: bold;

}

@font-face {
	font-family: 'Shrikhand-Regular';
	src: url('../polices/Shrikhand-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*-------Mixin-------*/

@mixin shadow {
    -webkit-box-shadow: 1px 10px 12px 4px rgba(190,190,190,0.55); 
box-shadow: 1px 10px 12px 4px rgba(190,190,190,0.55);
}

@mixin hover_shadow {
	-webkit-box-shadow: 1px 10px 12px 4px rgba(4,4,4,0.55); 
box-shadow: 1px 10px 12px 4px rgba(4,4,4,0.55);
}

/*-------Chartre graphique-------*/

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

/*-------Général-------*/

body {
    
    font-family: 'robotolight';
	font-weight: normal;
	margin: auto;
	width: 380px;
	box-sizing: border-box;
    background-color: grey;


}

a
{
	color: black;
	text-decoration: none;
}

a:visited
{
	color: black;
}
  
/*-------Section Carte des menus-------*/

  

article
{
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-top: 30px;
    margin-left: 20px;
}

h3
{
    font-family: 'robotolight';
    font-weight: normal;
}

hr
{
    width: 40px;
    border: 2px solid $tertiary-color;
    margin-top: -0.5em;
    color: $tertiary-color;
    background-color: $tertiary-color;
}

p
{
    margin-bottom: inherit;
    margin-top: 10px;
}

span
{
    font-weight: bold;
}

.plat
{
    border: solid 1px transparent;
    border-radius: 15px;
    padding: 5px 20px 20px 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 320px;
    height: 60px;
    display: flex;
    flex-direction: column;
    background-color: white;
    @include shadow;
    position: relative;
}

.nom p, .description p
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: nowrap;
}

.description p
{
    width: 280px;
}

.prix
{
    text-align: end;
}


/*-------Icône Check-------*/

.check
{
    align-self: end;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding: 26px 20px;
    background-color: $tertiary-color;
    position: absolute;
    top: 0;
    left: 79%;
    transition: all .5s ease-in-out;
    /*overflow: hidden;*/
    z-index: -1;
}

.check1
{
    color: $tertiary-color;
    border-radius: 80px;
    background-color: white;
    border: 2px solid transparent;
    width: 15px;
    padding: 5px 9px;
    transition: all .5s ease-in-out;
}

.plat:hover .check
{
    transform: translate(-50px);
    z-index: inherit;
    
    
}

.plat:hover .check1
{
    transform: rotate(360deg);
}